.App {
  text-align: center;
  width: 100%;
  background-image: url("images/background.jpeg");
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.block {
  min-height: 68vh;
  width: 100%;
  color: white;
  padding: 10px;
  text-align: center;
}

.center {
  text-align: center;
}

.header {
  min-height: 300px;
}

.empty {
  min-height: 300px;
}

.black {
  color: black;
}

.white {
  color: white;
}
